.back-home-btn {
  margin: 16px 0;
}
.add-year-btn {
  margin: 16px 0 16px 16px;
}
.year-select-panel {
  margin: 8px 0 16px 16px;
  border: 1px solid #ccc;
  padding: 8px;
}
.year-select-caption {
  color: #888;
  font-size: 12px;
}
