<div class="maternity-leave-container">
  <button
    class="employee-btn"
    [routerLink]="['/employee-procedures/application-form', uid]"
    [disabled]="!uid"
  >
    各種申請画面へ戻る
  </button>
  <h2 class="detail-title">
    <span *ngIf="userName">{{ userName }}さんの</span>厚生年金保険
    養育期間標準報酬月額特例申出書／終了届
  </h2>
  <div class="button-group" style="margin-bottom: 16px">
    <button class="employee-btn" disabled>編集</button>
    <button class="employee-btn" disabled>保存</button>
    <button class="employee-btn" disabled>キャンセル</button>
  </div>
  <div class="form-section">
    <p>ここに申請フォームを作成します。</p>
  </div>
</div>
