<button class="employee-btn" routerLink="/employee-procedures">従業員手続き画面へ戻る</button>

<h2 class="detail-title">{{ userName }}さんの各種申請</h2>
<div class="application-buttons">
  <button
    class="employee-btn"
    [routerLink]="['/employee-procedures/maternity-leave-application', uid]"
    [disabled]="!uid"
  >
    産前産後休業取得者申出書
  </button>
  <button class="employee-btn">育児休業等取得者申出書</button>
  <button class="employee-btn">介護保険適用除外等（該当・非該当）届</button>
  <button class="employee-btn">70歳以上被用者該当届</button>
  <button class="employee-btn">養育期間標準報酬月額特例申出書</button>
</div>
