<div class="placeholder">
  <h2>従業員手続き画面（プレースホルダー）</h2>
  <p>ここに従業員手続きの機能が実装されます。</p>
  <div class="employee-buttons">
    <button class="employee-btn" [routerLink]="['/employee-procedures/insured-person-form']">
      被保険者本人の個人情報<br />被扶養者に関する情報
    </button>
    <button class="employee-btn" (click)="goToSalaryBonus()">給与・賞与情報</button>
    <button class="employee-btn" (click)="goToApplication()">その他各種申請</button>
  </div>
</div>
<div class="employee-status-list">
  <div class="status-header">
    <h3>従業員の社会保険料状況</h3>
    <div class="period-selector">
      <select class="year-select">
        <option value="2025">2025年</option>
        <option value="2024">2024年</option>
        <option value="2023">2023年</option>
      </select>
      <select class="month-select">
        <option value="1">1月</option>
        <option value="2">2月</option>
        <option value="3">3月</option>
        <option value="4">4月</option>
        <option value="5">5月</option>
        <option value="6">6月</option>
        <option value="7">7月</option>
        <option value="8">8月</option>
        <option value="9">9月</option>
        <option value="10">10月</option>
        <option value="11">11月</option>
        <option value="12">12月</option>
      </select>
    </div>
  </div>
  <table class="status-table">
    <thead>
      <tr>
        <th>従業員名</th>
        <th (click)="sortByEmployeeNumber()" style="cursor: pointer">
          従業員番号
          <span *ngIf="sortOrder === 'asc'">▲</span>
          <span *ngIf="sortOrder === 'desc'">▼</span>
        </th>
        <th>事業所番号</th>
        <th>生年月日</th>
        <th>社会保険判定ボタン</th>
        <!-- <th>カンパニーID</th> -->
        <th>判定状況</th>
        <th>等級</th>
        <th>健康保険</th>
        <th>介護保険</th>
        <th>厚生年金保険</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
          <a
            [routerLink]="['/employee-procedures/application-form', user.uid]"
            class="employee-link"
          >
            {{ user.lastName }}{{ user.firstName }}
          </a>
        </td>
        <td>{{ user.employeeNumber }}</td>
        <td>{{ user.branchNumber }}</td>
        <td>{{ user.birthDate | date: 'yyyy-MM-dd' }}</td>
        <td>
          <button
            class="judgment-btn"
            [routerLink]="['/employee-procedures/insurance-judgment', user.uid]"
          >
            社会保険対象者判定
          </button>
        </td>
        <!-- <td>{{ user.companyId }}</td> -->
        <td>未実施</td>
        <td>-</td>
        <td>未判定</td>
        <td>未判定</td>
        <td>未判定</td>
      </tr>
    </tbody>
  </table>
</div>
