<nav class="sidebar" [ngClass]="{ mini: isMini }">
  <div class="sidebar-list-area">
    <ul>
      <li *ngFor="let item of navItems">
        <a
          [routerLink]="item.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="onNavItemClick()"
        >
          <ng-container *ngIf="item.icon; else emptyIcon">
            <mat-icon>{{ item.icon }}</mat-icon>
          </ng-container>
          <ng-template #emptyIcon>
            <span class="icon-placeholder"></span>
          </ng-template>
          <span class="sidebar-label" *ngIf="isLabelVisible">{{ item.label }}</span>
        </a>
        <ng-container *ngIf="item.label === '設定' && !isMini">
          <button class="create-account-btn" (click)="goToCreateAccount()">
            <span class="sidebar-label align-with-settings">アカウント作成</span>
          </button>
        </ng-container>
      </li>
    </ul>
  </div>
  <button class="sidebar-toggle" (click)="onToggleMini()">
    <mat-icon>
      {{ isMini ? 'chevron_right' : 'chevron_left' }}
    </mat-icon>
    <span class="toggle-label" *ngIf="!isMini && isLabelVisible">メニューを閉じる</span>
  </button>
</nav>
