<nav class="sidebar" [ngClass]="{ mini: isMini }">
  <div class="sidebar-list-area">
    <ul>
      <li *ngFor="let item of navItems">
        <a
          *ngIf="
            item.label !== 'その他申請' &&
              item.label !== '本人情報' &&
              item.label !== '被扶養者情報';
            else dynamicLinkBtn
          "
          [routerLink]="item.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="onNavItemClick()"
        >
          <ng-container *ngIf="item.icon; else emptyIcon">
            <mat-icon>{{ item.icon }}</mat-icon>
          </ng-container>
          <ng-template #emptyIcon>
            <span class="icon-placeholder"></span>
          </ng-template>
          <span class="sidebar-label" *ngIf="isLabelVisible">{{ item.label }}</span>
        </a>

        <ng-template #dynamicLinkBtn>
          <ng-container [ngSwitch]="item.label">
            <a
              *ngSwitchCase="'本人情報'"
              (click)="goToMyInfo()"
              role="button"
              tabindex="0"
              (keydown.enter)="goToMyInfo()"
              class="nav-item-link"
              [ngClass]="{
                active: router.isActive('/employee-procedures/insured-person-detail', false),
              }"
            >
              <span class="icon-placeholder"></span>
              <span class="sidebar-label" *ngIf="isLabelVisible">{{ item.label }}</span>
            </a>
            <a
              *ngSwitchCase="'被扶養者情報'"
              (click)="goToDependentInfo()"
              role="button"
              tabindex="0"
              (keydown.enter)="goToDependentInfo()"
              class="nav-item-link"
              [ngClass]="{
                active: router.isActive('/employee-procedures/dependent-detail', false),
              }"
            >
              <span class="icon-placeholder"></span>
              <span class="sidebar-label" *ngIf="isLabelVisible">{{ item.label }}</span>
            </a>
            <a
              *ngSwitchCase="'その他申請'"
              (click)="goToOtherApplications()"
              role="button"
              tabindex="0"
              (keydown.enter)="goToOtherApplications()"
              class="nav-item-link"
              [ngClass]="{
                active: router.isActive('/employee-procedures/application-form', false),
              }"
            >
              <span class="icon-placeholder"></span>
              <span class="sidebar-label" *ngIf="isLabelVisible">{{ item.label }}</span>
            </a>
          </ng-container>
        </ng-template>

        <ng-container *ngIf="item.label === '設定' && !isMini">
          <button class="create-account-btn" (click)="goToCreateAccount()">
            <span class="sidebar-label align-with-settings">アカウント作成</span>
          </button>
        </ng-container>
      </li>
    </ul>
  </div>
  <button class="sidebar-toggle" (click)="onToggleMini()">
    <mat-icon>
      {{ isMini ? 'chevron_right' : 'chevron_left' }}
    </mat-icon>
    <span class="toggle-label" *ngIf="!isMini && isLabelVisible">メニューを閉じる</span>
  </button>
</nav>
